################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/erasynth-firmware/v15/.suo
/.vs/config
/.vs/erasynth-firmware/v15
/ERASynth/.vs
/ERASynth/__vm
/ERASynth/CppProperties.json
/ERASynth/ERASynth.vcxproj
/ERASynth/ERASynth.vcxproj.filters
/ERASynth/ERASynth.vcxproj.user
/esp8266/.vs
/esp8266/CppProperties.json
